export ZSH=~/.oh-my-zsh

# Let's use Nano as the default editor. I'm not very good with VIM.
export EDITOR="nano"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# I don't want babel cluttering up my home directory with the babel cache
# https://stackoverflow.com/questions/32757306
export BABEL_CACHE_PATH=~/.babel

# Disable the Mac coloured listing so that instead of the LSCOLOURS, the commands
# (including tree) use the LS_COLOURS variable
# https://unix.stackexchange.com/q/2897/56262
unset LSCOLORS
export CLICOLOR=1
export CLICOLOR_FORCE=1

# here's LS_COLORS
# https://github.com/gibbling/dircolors
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"
