[user]
	name = Mridang Agarwalla
	email = mridang@nosto.com

[core]
	excludesfile = /Users/mridang/.gitignore_global
	editor = atom --wait

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[push]
	default = current

[diff]
	tool = icdiff

[icdiff]
	options = --highlight --line-numbers

[color]
	ui = always
	branch = always
	diff = always
	interactive = always
	status = always
	grep = always
	pager = true
	decorate = always
	showbranch = always

[alias]
    recent="!git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/"
    rename = "!fn() { git branch -m $1 $2; git push origin :$1; git push --set-upstream origin $2; }; fn"
    compact = "!fn() { git reflog expire --all --expire=now; git gc --prune=now --aggressive; }; fn"

# URL shorthands

[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"
